@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *{
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}

@layer components{
    .swiper-pagination {
    }
    .swiper-pagination-bullet {
        padding: 10000px 10px;
        border-radius: 0;
        width: auto;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color:#000;
        opacity: 1;
        background: rgba(0,0,0,0.2);
    }
    .swiper-pagination-bullet-active {
        color:#fff;
        background: #007aff;
    }
    #reader__scan_region img {
        display :none;
    }
    #reader__scan_region  {
        /* min-height: 400px !important; */
    }
    #reader{
        @apply overflow-hidden  rounded-5 ;
    }
    #reader img{
        display : none;
    }    
    #reader__dashboard_section{
        @apply bg-[#5E72E4] text-white absolute bottom-0;
    }
}